<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AddTeacher</title>
    <link rel="stylesheet" href="http://127.0.0.1:3000/css/teacher.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="row mt-5">
      <div class="col-md-3"></div>
      <div class="col-md-6 bg-light">
        <h3 id="addHeading">Add New Teacher</h3>
        <form action="/successfuly_addTeacher" method="POST">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFname">Fast Name</label>
              <input type="text" class="form-control" name="fname" />
            </div>
            <div class="form-group col-md-6">
              <label for="inputLname">Last Name</label>
              <input type="text" class="form-control" name="lname" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputAddress">Email Address</label>
              <input
                type="email"
                name="userEmail"
                class="form-control"
                placeholder="enter user email"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress">Password</label>
              <input
                type="text"
                name="password"
                class="form-control"
                placeholder="set user password"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputEmail">Collage Email Address</label>
              <input
                type="email"
                name="collageEmail"
                class="form-control"
                placeholder="Enter Collage Email Address"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="inputId">Collage Id</label>
              <input
                type="text"
                name="collageId"
                class="form-control"
                placeholder="Enter Collage id"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputVill">Village</label>
              <input type="text" name="village" class="form-control" />
            </div>
            <div class="form-group col-md-4">
              <label for="inputPost">Post Office</label>
              <input type="text" name="post" class="form-control" />
            </div>
            <div class="form-group col-md-2">
              <label for="inputPin">PIN No:</label>
              <input type="number" name="pinNo" class="form-control" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input
                type="text"
                name="city"
                class="form-control"
                id="inputCity"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">State</label>
              <input type="text" name="state" class="form-control" />
            </div>
          </div>

          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Profile Pic</label>
              <input
                type="file"
                name="city"
                class="form-control"
                id="inputCity"
              />
            </div>
          </div> -->

          <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                name="checkbox"
                type="checkbox"
                id="gridCheck"
              />
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add Now</button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </body>
</html>
